{% extends 'base.html' %} {% block title %} Korpa {% endblock %} {% block body %}
<!--================Cart Area =================-->
<section class="cart_area section_padding">
    <div class="container item-border">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Proizvod</th>
                            <th scope="col">Cijena</th>
                            <th scope="col">Količina</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="static/proizvodi/{{shop.item_by_id(item.itemid).name}}.png" alt="" />
                                    </div>
                                    <div class="media-body">
                                        <p>{{shop.item_by_id(item.itemid).name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>{{shop.item_by_id(item.itemid).price}} KM</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <input class="input-number" type="number" value="{{item.ammount}}" min="0" max="10">
                                </div>
                            </td>
                            <td>
                                <h5>{{shop.item_by_id(item.itemid).price*item.ammount}} KM</h5>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Ukupno za uplatu</h5>
                            </td>
                            <td>
                                <h5>{{ total }} KM</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="checkout_btn_inner float-right">
                    <a class="btn_1 checkout_btn_1" href="/kupi">Kupi</a>
                </div>
            </div>
        </div>
</section>
<!--================End Cart Area =================-->
{% endblock %}